[Unit]
Description=Rotary Phone Audio Guestbook Web Server
After=network.target

[Service]
User=audiobook
Group=audiobook
WorkingDirectory=/home/audiobook/rotary-phone-audio-guestbook
ExecStart=/home/audiobook/rotary-phone-audio-guestbook/start_server.sh
Restart=always

[Install]
WantedBy=multi-user.target
